
*.out
*.asv
*.swp
*.DS_Store

xQSM/python/.vscode/settings.json
xQSM/matlab/eval/Chi_Unet_invivo.nii
xQSM/matlab/eval/Chi_Unet_syn.nii
xQSM/matlab/eval/Chi_xQSM_invivo.nii
xQSM/matlab/eval/Chi_xQSM_syn.nii
xQSM/onnx/networks_onnx/Unet_invivo.onnx
xQSM/onnx/networks_onnx/xQSM_invivo.onnx
xQSM/python/__pycache__/Unet_blocks.cpython-38.pyc
xQSM/python/__pycache__/Unet.cpython-38.pyc
xQSM/python/__pycache__/xQSM_blocks.cpython-38.pyc
xQSM/python/__pycache__/xQSM.cpython-38.pyc
xQSM/python/eval/Chi_Unet_invivo.mat
xQSM/python/eval/Chi_Unet_invivo.nii
xQSM/python/eval/Chi_xQSM_invivo.mat
xQSM/python/eval/Chi_xQSM_invivo.nii
xQSM/python/eval/__pycache__/utils.cpython-38.pyc
