[submodule "iQSM"]
	path = iQSM
	url = https://github.com/sunhongfu/iQSM.git
[submodule "iQSM_Plus"]
	path = iQSM_Plus
	url = https://github.com/sunhongfu/iQSM_Plus.git
[submodule "xQSM"]
	path = xQSM
	url = https://github.com/sunhongfu/xQSM.git
[submodule "DCRNet"]
	path = DCRNet
	url = https://github.com/sunhongfu/DCRNet.git
