[submodule "iQSM"]
	path = iQSM
	url = https://github.com/sunhongfu/iQSM.git
[submodule "iQSM_Plus"]
	path = iQSM_Plus
	url = https://github.com/sunhongfu/iQSM_Plus.git
[submodule "xQSM"]
	path = xQSM
	url = https://github.com/sunhongfu/xQSM.git
[submodule "DCRNet"]
	path = DCRNet
	url = https://github.com/sunhongfu/DCRNet.git
[submodule "BFRnet"]
	path = BFRnet
	url = https://github.com/sunhongfu/BFRnet.git
[submodule "AFTER-QSM"]
	path = AFTER-QSM
	url = https://github.com/sunhongfu/AFTER-QSM.git
